#reg-route-sec {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#reg-route-p {
	text-align: center;
}

#reg-route-h2 {
	margin-bottom: 0;
	align-self: flex-start;
	margin-left: 2.5rem;
}

#reg-footer {
	margin-top: 1rem;
}
