#learn-route {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media all and (min-width: 500px) {
	.ShowScore {
		margin-left: 0;
		width: 100%;
		text-align: center;
		font-size: x-large;
	}
}
