#reg-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 5rem;
}

div {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

Button {
	line-height: 1.5rem;
	align-self: flex-start;
	width: 5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
