.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 0;
	position: relative;
}

.App header h1 a {
	text-decoration: none;
}

.App header h1 a:visited {
	color: rgb(255, 179, 0);
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}
